//! **************************************************************************
// Written by: Map M.53d on Tue Apr 22 17:37:47 2014
//! **************************************************************************

SCHEMATIC START;
COMP "SRAM0_E" LOCATE = SITE "C20" LEVEL 1;
COMP "SRAM1_E" LOCATE = SITE "K11" LEVEL 1;
COMP "SRAM0_W" LOCATE = SITE "J20" LEVEL 1;
COMP "SRAM1_W" LOCATE = SITE "K20" LEVEL 1;
COMP "VGA_CLK" LOCATE = SITE "C5" LEVEL 1;
COMP "SRAM0_LB" LOCATE = SITE "E17" LEVEL 1;
COMP "SRAM1_LB" LOCATE = SITE "B21" LEVEL 1;
COMP "SRAM0_OE" LOCATE = SITE "E14" LEVEL 1;
COMP "SRAM1_OE" LOCATE = SITE "A19" LEVEL 1;
COMP "SRAM0_UB" LOCATE = SITE "G15" LEVEL 1;
COMP "SRAM1_UB" LOCATE = SITE "B20" LEVEL 1;
COMP "SRAM0_A<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "SRAM0_A<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "SRAM0_A<2>" LOCATE = SITE "F15" LEVEL 1;
COMP "SRAM0_A<3>" LOCATE = SITE "G17" LEVEL 1;
COMP "SRAM0_A<4>" LOCATE = SITE "B19" LEVEL 1;
COMP "SRAM0_A<5>" LOCATE = SITE "K21" LEVEL 1;
COMP "SRAM0_A<6>" LOCATE = SITE "K23" LEVEL 1;
COMP "SRAM0_A<7>" LOCATE = SITE "L9" LEVEL 1;
COMP "SRAM0_A<8>" LOCATE = SITE "M18" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "C11" LEVEL 1;
COMP "SRAM0_A<9>" LOCATE = SITE "N9" LEVEL 1;
COMP "SRAM0_D<0>" LOCATE = SITE "D21" LEVEL 1;
COMP "SRAM0_D<1>" LOCATE = SITE "B23" LEVEL 1;
COMP "SRAM0_D<2>" LOCATE = SITE "C21" LEVEL 1;
COMP "SRAM0_D<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "SRAM1_A<0>" LOCATE = SITE "D16" LEVEL 1;
COMP "SRAM0_D<4>" LOCATE = SITE "C26" LEVEL 1;
COMP "SRAM1_A<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "SRAM0_D<5>" LOCATE = SITE "G20" LEVEL 1;
COMP "SRAM1_A<2>" LOCATE = SITE "A20" LEVEL 1;
COMP "SRAM0_D<6>" LOCATE = SITE "F22" LEVEL 1;
COMP "SRAM1_A<3>" LOCATE = SITE "D20" LEVEL 1;
COMP "SRAM0_D<7>" LOCATE = SITE "G22" LEVEL 1;
COMP "SRAM1_A<4>" LOCATE = SITE "F20" LEVEL 1;
COMP "SRAM0_D<8>" LOCATE = SITE "G21" LEVEL 1;
COMP "SRAM1_A<5>" LOCATE = SITE "K18" LEVEL 1;
COMP "SRAM0_D<9>" LOCATE = SITE "E26" LEVEL 1;
COMP "SRAM1_A<6>" LOCATE = SITE "M22" LEVEL 1;
COMP "SRAM1_A<7>" LOCATE = SITE "N19" LEVEL 1;
COMP "SRAM1_A<8>" LOCATE = SITE "N17" LEVEL 1;
COMP "SRAM1_A<9>" LOCATE = SITE "N18" LEVEL 1;
COMP "SRAM1_D<0>" LOCATE = SITE "J16" LEVEL 1;
COMP "SRAM1_D<1>" LOCATE = SITE "G19" LEVEL 1;
COMP "SRAM1_D<2>" LOCATE = SITE "C23" LEVEL 1;
COMP "SRAM1_D<3>" LOCATE = SITE "H17" LEVEL 1;
COMP "SRAM1_D<4>" LOCATE = SITE "K16" LEVEL 1;
COMP "SRAM1_D<5>" LOCATE = SITE "H20" LEVEL 1;
COMP "SRAM1_D<6>" LOCATE = SITE "F23" LEVEL 1;
COMP "SRAM1_D<7>" LOCATE = SITE "K9" LEVEL 1;
COMP "SRAM1_D<8>" LOCATE = SITE "G23" LEVEL 1;
COMP "SRAM1_D<9>" LOCATE = SITE "F24" LEVEL 1;
COMP "TFT_DB<0>" LOCATE = SITE "AD14" LEVEL 1;
COMP "TFT_DB<1>" LOCATE = SITE "AB15" LEVEL 1;
COMP "TFT_DB<2>" LOCATE = SITE "AE12" LEVEL 1;
COMP "TFT_DB<3>" LOCATE = SITE "AE15" LEVEL 1;
COMP "TFT_DB<4>" LOCATE = SITE "AF23" LEVEL 1;
COMP "TFT_DB<5>" LOCATE = SITE "AC15" LEVEL 1;
COMP "TFT_DB<6>" LOCATE = SITE "AC14" LEVEL 1;
COMP "TFT_DB<7>" LOCATE = SITE "AC12" LEVEL 1;
COMP "TFT_DB<8>" LOCATE = SITE "AC21" LEVEL 1;
COMP "TFT_DB<9>" LOCATE = SITE "AD22" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "H12" LEVEL 1;
COMP "VGA_RED<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "VGA_RED<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "VGA_RED<2>" LOCATE = SITE "D9" LEVEL 1;
COMP "VGA_RED<3>" LOCATE = SITE "G9" LEVEL 1;
COMP "VGA_RED<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_RED<5>" LOCATE = SITE "J9" LEVEL 1;
COMP "VGA_RED<6>" LOCATE = SITE "H9" LEVEL 1;
COMP "VGA_RED<7>" LOCATE = SITE "B8" LEVEL 1;
COMP "TFT_RESET" LOCATE = SITE "V15" LEVEL 1;
COMP "SRAM0_A<10>" LOCATE = SITE "M20" LEVEL 1;
COMP "SRAM0_A<11>" LOCATE = SITE "L18" LEVEL 1;
COMP "SRAM0_A<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "SRAM0_A<13>" LOCATE = SITE "J23" LEVEL 1;
COMP "SRAM0_A<14>" LOCATE = SITE "J19" LEVEL 1;
COMP "SRAM0_A<15>" LOCATE = SITE "B15" LEVEL 1;
COMP "SRAM0_A<16>" LOCATE = SITE "G12" LEVEL 1;
COMP "SRAM0_A<17>" LOCATE = SITE "F12" LEVEL 1;
COMP "SRAM0_D<10>" LOCATE = SITE "D26" LEVEL 1;
COMP "SRAM0_D<11>" LOCATE = SITE "D24" LEVEL 1;
COMP "SRAM0_D<12>" LOCATE = SITE "H10" LEVEL 1;
COMP "SRAM0_D<13>" LOCATE = SITE "B18" LEVEL 1;
COMP "SRAM0_D<14>" LOCATE = SITE "E21" LEVEL 1;
COMP "SRAM0_D<15>" LOCATE = SITE "F19" LEVEL 1;
COMP "SRAM1_A<10>" LOCATE = SITE "N20" LEVEL 1;
COMP "SRAM1_A<11>" LOCATE = SITE "M23" LEVEL 1;
COMP "SRAM1_A<12>" LOCATE = SITE "M21" LEVEL 1;
COMP "SRAM1_A<13>" LOCATE = SITE "L20" LEVEL 1;
COMP "SRAM1_A<14>" LOCATE = SITE "K22" LEVEL 1;
COMP "SRAM1_A<15>" LOCATE = SITE "F17" LEVEL 1;
COMP "SRAM1_A<16>" LOCATE = SITE "H15" LEVEL 1;
COMP "SRAM1_A<17>" LOCATE = SITE "E15" LEVEL 1;
COMP "SRAM1_D<10>" LOCATE = SITE "E24" LEVEL 1;
COMP "SRAM1_D<11>" LOCATE = SITE "D25" LEVEL 1;
COMP "SRAM1_D<12>" LOCATE = SITE "A18" LEVEL 1;
COMP "SRAM1_D<13>" LOCATE = SITE "C22" LEVEL 1;
COMP "SRAM1_D<14>" LOCATE = SITE "D23" LEVEL 1;
COMP "SRAM1_D<15>" LOCATE = SITE "D22" LEVEL 1;
COMP "TFT_TSC_DOUT" LOCATE = SITE "AD26" LEVEL 1;
COMP "TFT_TSC_BUSY" LOCATE = SITE "W26" LEVEL 1;
COMP "TFT_TSC_CS_N" LOCATE = SITE "AB26" LEVEL 1;
COMP "TFT_DB<10>" LOCATE = SITE "AC19" LEVEL 1;
COMP "TFT_DB<11>" LOCATE = SITE "Y17" LEVEL 1;
COMP "TFT_DB<12>" LOCATE = SITE "AD19" LEVEL 1;
COMP "TFT_DB<13>" LOCATE = SITE "W17" LEVEL 1;
COMP "TFT_DB<14>" LOCATE = SITE "AB16" LEVEL 1;
COMP "TFT_DB<15>" LOCATE = SITE "W15" LEVEL 1;
COMP "VGA_BLUE<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "VGA_BLUE<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "VGA_BLUE<2>" LOCATE = SITE "J11" LEVEL 1;
COMP "VGA_BLUE<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "VGA_BLUE<4>" LOCATE = SITE "B10" LEVEL 1;
COMP "VGA_BLUE<5>" LOCATE = SITE "D10" LEVEL 1;
COMP "VGA_BLUE<6>" LOCATE = SITE "G10" LEVEL 1;
COMP "VGA_BLUE<7>" LOCATE = SITE "E10" LEVEL 1;
COMP "TFT_BLIGHT" LOCATE = SITE "AC23" LEVEL 1;
COMP "TFT_TSC_IRQ_N" LOCATE = SITE "AE25" LEVEL 1;
COMP "JTAG_NEXUS_TDI" LOCATE = SITE "AA19" LEVEL 1;
COMP "JTAG_NEXUS_TCK" LOCATE = SITE "AF14" LEVEL 1;
COMP "JTAG_NEXUS_TDO" LOCATE = SITE "AC20" LEVEL 1;
COMP "JTAG_NEXUS_TMS" LOCATE = SITE "AB20" LEVEL 1;
COMP "TEST_BUTTON" LOCATE = SITE "AD12" LEVEL 1;
COMP "VGA_GREEN<0>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_GREEN<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_GREEN<2>" LOCATE = SITE "F8" LEVEL 1;
COMP "VGA_GREEN<3>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_GREEN<4>" LOCATE = SITE "E7" LEVEL 1;
COMP "VGA_GREEN<5>" LOCATE = SITE "F7" LEVEL 1;
COMP "VGA_GREEN<6>" LOCATE = SITE "D6" LEVEL 1;
COMP "VGA_GREEN<7>" LOCATE = SITE "G8" LEVEL 1;
COMP "TFT_CS" LOCATE = SITE "AC16" LEVEL 1;
COMP "TFT_RD" LOCATE = SITE "AD20" LEVEL 1;
COMP "TFT_RS" LOCATE = SITE "AF18" LEVEL 1;
COMP "TFT_WR" LOCATE = SITE "AE18" LEVEL 1;
COMP "TFT_TSC_CLK" LOCATE = SITE "Y13" LEVEL 1;
COMP "TFT_TSC_DIN" LOCATE = SITE "W25" LEVEL 1;
COMP "SW_USER<0>" LOCATE = SITE "K1" LEVEL 1;
COMP "SW_USER<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "SW_USER<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "SW_USER<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW_USER<4>" LOCATE = SITE "W1" LEVEL 1;
COMP "LED_B<0>" LOCATE = SITE "AB24" LEVEL 1;
COMP "LED_B<1>" LOCATE = SITE "W23" LEVEL 1;
COMP "LED_B<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "LED_B<3>" LOCATE = SITE "AA23" LEVEL 1;
COMP "LED_B<4>" LOCATE = SITE "AC11" LEVEL 1;
COMP "LED_B<5>" LOCATE = SITE "AA10" LEVEL 1;
COMP "LED_B<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED_B<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "LED_G<0>" LOCATE = SITE "Y24" LEVEL 1;
COMP "LED_G<1>" LOCATE = SITE "Y23" LEVEL 1;
COMP "LED_G<2>" LOCATE = SITE "W21" LEVEL 1;
COMP "LED_G<3>" LOCATE = SITE "AC25" LEVEL 1;
COMP "LED_G<4>" LOCATE = SITE "W12" LEVEL 1;
COMP "LED_G<5>" LOCATE = SITE "AE10" LEVEL 1;
COMP "LED_G<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "LED_G<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "LED_R<0>" LOCATE = SITE "V19" LEVEL 1;
COMP "LED_R<1>" LOCATE = SITE "V21" LEVEL 1;
COMP "LED_R<2>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LED_R<3>" LOCATE = SITE "Y21" LEVEL 1;
COMP "LED_R<4>" LOCATE = SITE "V11" LEVEL 1;
COMP "LED_R<5>" LOCATE = SITE "AC9" LEVEL 1;
COMP "LED_R<6>" LOCATE = SITE "R9" LEVEL 1;
COMP "LED_R<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "CLK_BRD" LOCATE = SITE "AE13" LEVEL 1;
SCHEMATIC END;

