NET "VGA_VSYNC" SLEW=FAST;
NET "VGA_VSYNC" LOC=H12;
NET "VGA_RED<0>" SLEW=FAST;
NET "VGA_RED<1>" SLEW=FAST;
NET "VGA_RED<2>" SLEW=FAST;
NET "VGA_RED<3>" SLEW=FAST;
NET "VGA_RED<4>" SLEW=FAST;
NET "VGA_RED<5>" SLEW=FAST;
NET "VGA_RED<6>" SLEW=FAST;
NET "VGA_RED<7>" SLEW=FAST;
NET "VGA_RED<0>" LOC=A9;
NET "VGA_RED<1>" LOC=B9;
NET "VGA_RED<2>" LOC=D9;
NET "VGA_RED<3>" LOC=G9;
NET "VGA_RED<4>" LOC=A8;
NET "VGA_RED<5>" LOC=J9;
NET "VGA_RED<6>" LOC=H9;
NET "VGA_RED<7>" LOC=B8;
NET "VGA_HSYNC" SLEW=FAST;
NET "VGA_HSYNC" LOC=C11;
NET "VGA_GREEN<0>" SLEW=FAST;
NET "VGA_GREEN<1>" SLEW=FAST;
NET "VGA_GREEN<2>" SLEW=FAST;
NET "VGA_GREEN<3>" SLEW=FAST;
NET "VGA_GREEN<4>" SLEW=FAST;
NET "VGA_GREEN<5>" SLEW=FAST;
NET "VGA_GREEN<6>" SLEW=FAST;
NET "VGA_GREEN<7>" SLEW=FAST;
NET "VGA_GREEN<0>" LOC=D8;
NET "VGA_GREEN<1>" LOC=C8;
NET "VGA_GREEN<2>" LOC=F8;
NET "VGA_GREEN<3>" LOC=B7;
NET "VGA_GREEN<4>" LOC=E7;
NET "VGA_GREEN<5>" LOC=F7;
NET "VGA_GREEN<6>" LOC=D6;
NET "VGA_GREEN<7>" LOC=G8;
NET "VGA_CLK" SLEW=FAST;
NET "VGA_CLK" LOC=C5;
NET "VGA_BLUE<0>" SLEW=FAST;
NET "VGA_BLUE<1>" SLEW=FAST;
NET "VGA_BLUE<2>" SLEW=FAST;
NET "VGA_BLUE<3>" SLEW=FAST;
NET "VGA_BLUE<4>" SLEW=FAST;
NET "VGA_BLUE<5>" SLEW=FAST;
NET "VGA_BLUE<6>" SLEW=FAST;
NET "VGA_BLUE<7>" SLEW=FAST;
NET "VGA_BLUE<0>" LOC=K12;
NET "VGA_BLUE<1>" LOC=D11;
NET "VGA_BLUE<2>" LOC=J11;
NET "VGA_BLUE<3>" LOC=A10;
NET "VGA_BLUE<4>" LOC=B10;
NET "VGA_BLUE<5>" LOC=D10;
NET "VGA_BLUE<6>" LOC=G10;
NET "VGA_BLUE<7>" LOC=E10;
NET "TFT_WR" LOC=AE18;
NET "TFT_TSC_IRQ_N" LOC=AE25;
NET "TFT_TSC_DOUT" LOC=AD26;
NET "TFT_TSC_DIN" LOC=W25;
NET "TFT_TSC_CS_N" LOC=AB26;
NET "TFT_TSC_CLK" LOC=Y13;
NET "TFT_TSC_BUSY" LOC=W26;
NET "TFT_RS" LOC=AF18;
NET "TFT_RESET" LOC=V15;
NET "TFT_RD" LOC=AD20;
NET "TFT_DB<0>" LOC=AD14;
NET "TFT_DB<1>" LOC=AB15;
NET "TFT_DB<2>" LOC=AE12;
NET "TFT_DB<3>" LOC=AE15;
NET "TFT_DB<4>" LOC=AF23;
NET "TFT_DB<5>" LOC=AC15;
NET "TFT_DB<6>" LOC=AC14;
NET "TFT_DB<7>" LOC=AC12;
NET "TFT_DB<8>" LOC=AC21;
NET "TFT_DB<9>" LOC=AD22;
NET "TFT_DB<10>" LOC=AC19;
NET "TFT_DB<11>" LOC=Y17;
NET "TFT_DB<12>" LOC=AD19;
NET "TFT_DB<13>" LOC=W17;
NET "TFT_DB<14>" LOC=AB16;
NET "TFT_DB<15>" LOC=W15;
NET "TFT_CS" LOC=AC16;
NET "TFT_BLIGHT" LOC=AC23;
NET "TEST_BUTTON" LOC=AD12;
NET "SW_USER<0>" LOC=K1;
NET "SW_USER<1>" LOC=U3;
NET "SW_USER<2>" LOC=W2;
NET "SW_USER<3>" LOC=V4;
NET "SW_USER<4>" LOC=W1;
NET "SRAM1_W" LOC=K20;
NET "SRAM1_UB" LOC=B20;
NET "SRAM1_OE" LOC=A19;
NET "SRAM1_LB" LOC=B21;
NET "SRAM1_E" LOC=K11;
NET "SRAM1_D<0>" LOC=J16;
NET "SRAM1_D<1>" LOC=G19;
NET "SRAM1_D<2>" LOC=C23;
NET "SRAM1_D<3>" LOC=H17;
NET "SRAM1_D<4>" LOC=K16;
NET "SRAM1_D<5>" LOC=H20;
NET "SRAM1_D<6>" LOC=F23;
NET "SRAM1_D<7>" LOC=K9;
NET "SRAM1_D<8>" LOC=G23;
NET "SRAM1_D<9>" LOC=F24;
NET "SRAM1_D<10>" LOC=E24;
NET "SRAM1_D<11>" LOC=D25;
NET "SRAM1_D<12>" LOC=A18;
NET "SRAM1_D<13>" LOC=C22;
NET "SRAM1_D<14>" LOC=D23;
NET "SRAM1_D<15>" LOC=D22;
NET "SRAM1_A<0>" LOC=D16;
NET "SRAM1_A<1>" LOC=D18;
NET "SRAM1_A<2>" LOC=A20;
NET "SRAM1_A<3>" LOC=D20;
NET "SRAM1_A<4>" LOC=F20;
NET "SRAM1_A<5>" LOC=K18;
NET "SRAM1_A<6>" LOC=M22;
NET "SRAM1_A<7>" LOC=N19;
NET "SRAM1_A<8>" LOC=N17;
NET "SRAM1_A<9>" LOC=N18;
NET "SRAM1_A<10>" LOC=N20;
NET "SRAM1_A<11>" LOC=M23;
NET "SRAM1_A<12>" LOC=M21;
NET "SRAM1_A<13>" LOC=L20;
NET "SRAM1_A<14>" LOC=K22;
NET "SRAM1_A<15>" LOC=F17;
NET "SRAM1_A<16>" LOC=H15;
NET "SRAM1_A<17>" LOC=E15;
NET "SRAM0_W" LOC=J20;
NET "SRAM0_UB" LOC=G15;
NET "SRAM0_OE" LOC=E14;
NET "SRAM0_LB" LOC=E17;
NET "SRAM0_E" LOC=C20;
NET "SRAM0_D<0>" LOC=D21;
NET "SRAM0_D<1>" LOC=B23;
NET "SRAM0_D<2>" LOC=C21;
NET "SRAM0_D<3>" LOC=D17;
NET "SRAM0_D<4>" LOC=C26;
NET "SRAM0_D<5>" LOC=G20;
NET "SRAM0_D<6>" LOC=F22;
NET "SRAM0_D<7>" LOC=G22;
NET "SRAM0_D<8>" LOC=G21;
NET "SRAM0_D<9>" LOC=E26;
NET "SRAM0_D<10>" LOC=D26;
NET "SRAM0_D<11>" LOC=D24;
NET "SRAM0_D<12>" LOC=H10;
NET "SRAM0_D<13>" LOC=B18;
NET "SRAM0_D<14>" LOC=E21;
NET "SRAM0_D<15>" LOC=F19;
NET "SRAM0_A<0>" LOC=J12;
NET "SRAM0_A<1>" LOC=F14;
NET "SRAM0_A<2>" LOC=F15;
NET "SRAM0_A<3>" LOC=G17;
NET "SRAM0_A<4>" LOC=B19;
NET "SRAM0_A<5>" LOC=K21;
NET "SRAM0_A<6>" LOC=K23;
NET "SRAM0_A<7>" LOC=L9;
NET "SRAM0_A<8>" LOC=M18;
NET "SRAM0_A<9>" LOC=N9;
NET "SRAM0_A<10>" LOC=M20;
NET "SRAM0_A<11>" LOC=L18;
NET "SRAM0_A<12>" LOC=L17;
NET "SRAM0_A<13>" LOC=J23;
NET "SRAM0_A<14>" LOC=J19;
NET "SRAM0_A<15>" LOC=B15;
NET "SRAM0_A<16>" LOC=G12;
NET "SRAM0_A<17>" LOC=F12;
NET "LED_R<0>" LOC=V19;
NET "LED_R<1>" LOC=V21;
NET "LED_R<2>" LOC=Y22;
NET "LED_R<3>" LOC=Y21;
NET "LED_R<4>" LOC=V11;
NET "LED_R<5>" LOC=AC9;
NET "LED_R<6>" LOC=R9;
NET "LED_R<7>" LOC=P1;
NET "LED_G<0>" LOC=Y24;
NET "LED_G<1>" LOC=Y23;
NET "LED_G<2>" LOC=W21;
NET "LED_G<3>" LOC=AC25;
NET "LED_G<4>" LOC=W12;
NET "LED_G<5>" LOC=AE10;
NET "LED_G<6>" LOC=P3;
NET "LED_G<7>" LOC=R1;
NET "LED_B<0>" LOC=AB24;
NET "LED_B<1>" LOC=W23;
NET "LED_B<2>" LOC=AC26;
NET "LED_B<3>" LOC=AA23;
NET "LED_B<4>" LOC=AC11;
NET "LED_B<5>" LOC=AA10;
NET "LED_B<6>" LOC=P8;
NET "LED_B<7>" LOC=P2;
NET "JTAG_NEXUS_TMS" LOC=AB20;
NET "JTAG_NEXUS_TDO" LOC=AC20;
NET "JTAG_NEXUS_TDI" LOC=AA19;
NET "JTAG_NEXUS_TCK" LOC=AF14;
NET "CLK_BRD" LOC=AE13;
