(edif WB_TSPENDOWN
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2008 11 5 13 32 29)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "Version 9.4, mapper 9.4.0, Build 086R"))
      (comment "Core Revision: 1.00.00")
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FDR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port R (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell TSPENDOWN (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (rename DAT_O_0 "DAT_O(0)") (direction OUTPUT))
           (port RST_I (direction INPUT))
           (port CLK_I (direction INPUT))
           (port PENDOWN (direction INPUT))
           (port ACK_O (direction OUTPUT))
           (port STB_I (direction INPUT))
           (port CYC_I (direction INPUT))
         )
         (contents
          (instance ACK_O (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "8"))
          )
          (instance (rename doit_pdreg "doit.pdreg") (viewRef PRIM (cellRef FDR (libraryRef UNILIB)))
          )
          (net (rename cyc_i "CYC_I") (joined
           (portRef CYC_I)
           (portRef I0 (instanceRef ACK_O))
          ))
          (net (rename stb_i "STB_I") (joined
           (portRef STB_I)
           (portRef I1 (instanceRef ACK_O))
          ))
          (net (rename ACK_OZ0 "ACK_O") (joined
           (portRef O (instanceRef ACK_O))
           (portRef ACK_O)
          ))
          (net (rename dat_o_0 "DAT_O(0)") (joined
           (portRef Q (instanceRef doit_pdreg))
           (portRef DAT_O_0)
          ))
          (net (rename pendown "PENDOWN") (joined
           (portRef PENDOWN)
           (portRef D (instanceRef doit_pdreg))
          ))
          (net (rename clk_i "CLK_I") (joined
           (portRef CLK_I)
           (portRef C (instanceRef doit_pdreg))
          ))
          (net (rename rst_i "RST_I") (joined
           (portRef RST_I)
           (portRef R (instanceRef doit_pdreg))
          ))
         )
       )
    )
    (cell WB_TSPENDOWN (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port (array (rename DAT_O "DAT_O(7:0)") 8) (direction OUTPUT))
           (port ACK_O (direction OUTPUT))
           (port CLK_I (direction INPUT)
 )
           (port CYC_I (direction INPUT))
           (port PENDOWN (direction INPUT))
           (port RST_I (direction INPUT))
           (port STB_I (direction INPUT))
           (port WE_I (direction INPUT))
         )
         (contents
          (instance UUT (viewRef netlist (cellRef TSPENDOWN))          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (net (rename clk_i "CLK_I") (joined
           (portRef CLK_I)
           (portRef CLK_I (instanceRef UUT))
          ))
          (net (rename cyc_i "CYC_I") (joined
           (portRef CYC_I)
           (portRef CYC_I (instanceRef UUT))
          ))
          (net (rename dat_o_0 "DAT_O(0)") (joined
           (portRef DAT_O_0 (instanceRef UUT))
           (portRef (member DAT_O 7))
          ))
          (net (rename pendown "PENDOWN") (joined
           (portRef PENDOWN)
           (portRef PENDOWN (instanceRef UUT))
          ))
          (net (rename rst_i "RST_I") (joined
           (portRef RST_I)
           (portRef RST_I (instanceRef UUT))
          ))
          (net (rename stb_i "STB_I") (joined
           (portRef STB_I)
           (portRef STB_I (instanceRef UUT))
          ))
          (net (rename we_i "WE_I") (joined
           (portRef WE_I)
          ))
          (net (rename ack_o "ACK_O") (joined
           (portRef ACK_O (instanceRef UUT))
           (portRef ACK_O)
          ))
          (net (rename dat_o_7 "DAT_O(7)") (joined
           (portRef G (instanceRef GND))
           (portRef (member DAT_O 0))
           (portRef (member DAT_O 1))
           (portRef (member DAT_O 2))
           (portRef (member DAT_O 3))
           (portRef (member DAT_O 4))
           (portRef (member DAT_O 5))
           (portRef (member DAT_O 6))
          ))
         )
       )
    )
  )
  (design WB_TSPENDOWN (cellRef WB_TSPENDOWN (libraryRef work))
	(property PART (string "xc3s200anftg256-5") (owner "Xilinx")))
)
